@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*This is a comment*@

@{
    var classname = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@classname">@Model.Movie.Name</h2>


@if (Model.Customers.Count == 0)
{ 
    <p>No one rented this movie before</p>
}
else
{
<ol>
    @foreach (var Customer in Model.Customers)
    {

        <li>@Customer.Name</li>

    }
</ol>
}