@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Membership Type : @Model.MembershipType.Name.ToString() </li>
    @if (Model.Birthdate != null)
    {
        <li>Date of Birth   : @Model.Birthdate</li>
    }
    
</ul>



