@model  IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>No Customer Available</p>
}

else
{
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <td>Customer Name</td>

                <td>Discount Rate</td>
            </tr>
        </thead>

        @foreach (var Customer in Model)
        {

            <tr>
                <td> @Html.ActionLink(Customer.Name, "Details", "Customer", new { id = Customer.Id }, null) </td>
                <td>@Customer.MembershipType.DiscountRate</td>
            </tr>

        }
    </table>
    //Close

}